* Q1) The challenge is to fix all of the bugs in this incredibly messy code, which the code in the image
might've actually looked like (probably not)! The code given will output the same middle two
lines as in the image shown above.
• First parameter is the user's score.
• Second parameter is the required score.
Examples
grade_percentage("85%", "85%") ➞ "You PASSED the Exam"
grade_percentage("99%", "85%") ➞ "You PASSED the Exam"
grade_percentage("65%", "90%") ➞ "You FAILED the Exam"
Notes
• Note that inputs will be given as a string percentage number.
• Maintain all capitalization.

In [30]:
def grade_percentage(para1):
    para2 = 85
    result = para1>=para2
    if para1>=para2:
        print("You PASSED the Exam")
    else:
        print("You FAILED the Exam")

In [31]:
grade_percentage(86)

You PASSED the Exam

* Q2) Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
•The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits
in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•The mean will always be an integer.

In [32]:
def mean_digit():
    num = input("enter digit ")
    num1 = str(num)
    digit = 0
    for item in num1:
        digit += int(item)//len(num1)
#        print(digit)
    print(digit)

In [33]:
mean_digit()

enter digit 42
3

* Q3) Write a program that returns a list of all the numbers from 1 to an integer argument. But for
multiples of three use “Fizz” instead of the number and for the multiples of five use “Buzz”. For
numbers which are multiples of both three and five use “FizzBuzz”.
Example
fizz_buzz(10) ➞ [1, 2, "Fizz", 4, "Buzz", "Fizz", 7, 8, "Fizz", "Buzz"]
fizz_buzz(15) ➞ [1, 2, "Fizz", 4, "Buzz", "Fizz", 7, 8, "Fizz", "Buzz",
11, "Fizz", 13, 14, "FizzBuzz"]
Notes
Make sure to return a list

In [35]:
def fizz_buzz(num):
    lst = []
    for num in range(1,num+1):
        if num % 3 == 0 and num % 5 == 0:
            lst.append("FizzBuzz")
        elif num % 3 == 0:
            lst.append("Fizz")
        elif num % 5 == 0:
            lst.append("Buzz")
        else:
            lst.append(num)
    return lst

In [36]:
fizz_buzz(15)

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz']

* Q5) Create a function that takes a list and a string as arguments and returns the index of the
string.
Examples
find_index(["hi", "edabit", "fgh", "abc"], "fgh") ➞ 2
find_index(["Red", "blue", "Blue", "Green"], "blue") ➞ 1
find_index(["a", "g", "y", "d"], "d") ➞ 3
find_index(["Pineapple", "Orange", "Grape", "Apple"], "Pineapple") ➞ 0
Notes
•Don't forget to return the result.

In [37]:
def find_index():
    result = []
    res = lst.index(input("enter string "))
    result.append(res)
    return result


lst = ["a","g","y","d"]

In [38]:
find_index()

enter string y

[2]

* Q6) Create a function that goes through the array, incrementing (+1) for each odd-valued
number and decrementing (-1) for each even-valued number.
Examples
transform([1, 2, 3, 4, 5]) ➞ [2, 1, 4, 3, 6]
transform([3, 3, 4, 3]) ➞ [4, 4, 3, 4]
transform([2, 2, 0, 8, 10]) ➞ [1, 1, -1, 7, 9]

In [44]:
def transform():
    even_odd_no=[2, 1, 4, 3, 6]
    res = []
    for item in even_odd_no:
        if item%2==0:
            b = (item-1)
            res.append(b)
        elif item%2==1:
            b = (item+1)
            res.append(b)
    return res

In [45]:
transform()

[1, 2, 3, 4, 5]

* Q7) An isogram is a word that has no duplicate letters. Create a function that takes a string and
returns either True or False depending on whether or not it's an "isogram".
Examples
is_isogram("Algorism") ➞ True
is_isogram("PasSword") ➞ False
 Not case sensitive.
is_isogram("Consecutive") ➞ False
Notes
•Ignore letter case (should not be case sensitive).
•All test cases contain valid one word strings.

In [72]:
def is_isogram():
    string = input("enter string ")
    string = string.upper()
    for i in string:
        if string.count(i) >1:
            return False
        else:
            return True

In [73]:
is_isogram()

enter string Consecutive

False

* Q8) Create a function that determines whether a number is Oddish or Evenish. A number
is Oddish if the sum of all of its digits is odd, and a number is Evenish if the sum of all of its digits
is even. If a number is Oddish, return "Oddish". Otherwise, return "Evenish".
For example, oddish_or_evenish(121) should return "Evenish", since 1 + 2 + 1 =
4. oddish_or_evenish(41) should return "Oddish", since 4 + 1 = 5.
Examples
oddish_or_evenish(43) ➞ "Oddish"
 4 + 3 = 7
 7 % 2 = 1
oddish_or_evenish(373) ➞ "Oddish"
 3 + 7 + 3 = 13
 13 % 2 = 1
oddish_or_evenish(4433) ➞ "Evenish"
 4 + 4 + 3 + 3 = 14
 14 % 2 = 0

In [76]:
def oddish_or_evenish():
    inp_no = input("enter no ")
    num = list()
    for item in inp_no:
        val = int(item)
        num.append(val)
        odd_even = sum(num)
    if odd_even%2==0:
        print("Evenish")
    else:
        print("Oddish")

In [78]:
oddish_or_evenish()

enter no 373
Oddish

* Q9) Write a Python program to combine two dictionary adding values for common keys
example: d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Sample output: ({'a': 400, 'b': 400, 'd': 400, 'c': 300})

SyntaxError: invalid syntax (2298529699.py, line 2)

In [180]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

def common_keys():
    d3 = {}
    for k in d1.keys() | d2.keys():
        d3[k] = d1.get(0) + d2.get(k, 0)
    return d3

In [3]:
d3 ={}
for key d1:z.items() | d2.items():
    d3[k] = d1.[k]+d2.[k]
    print(d3)

SyntaxError: invalid syntax (2298529699.py, line 2)

In [181]:
common_keys()

{'b': 400, 'c': 300, 'd': 400, 'a': 400}

* Q10) Write a Python program to create a dictionary from a string
eg: ‘pineapple’
sample output: {‘p’:3,’i’:1,’n’:1,’e’:2,’a’:2,’l’:1}

In [96]:
def data():
    string = input("Enter String ")
    result = {}
    for item in range(0,len(string)):
        result[string[item]]=string.count(string[item])
    print(result)

In [97]:
data()

Enter String pineapple
{'p': 3, 'i': 1, 'n': 1, 'e': 2, 'a': 1, 'l': 1}

* Q11) Create a function that takes a list and finds the integer which appears
an odd number of times.
Examples
find_odd([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5]) ➞ -1
find_odd([20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]) ➞ 5
find_odd([10]) ➞ 10
Notes
There will always only be one integer that appears an odd number of
times.

In [98]:
def find_odd():
    num = [20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]
    result = {}
    for item in range(0,len(num)):
        result[num[item]]=num.count(num[item])
    for k,v in result.items():
        if v%2!=0:
            print(k)

In [99]:
find_odd()

5

* Q12) Create the function that takes a list of dictionaries and returns the sum
of people's budgets.
Examples
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]) ➞ 65700
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]) ➞ 62600

In [100]:
get_budgets ={
40001 :{ "name": "John", "age": 21, "budget": 23000 },
40002 :{ "name": "Steve", "age": 32, "budget": 40000 },
40003 :{ "name": "Martin", "age": 16, "budget": 2700 }
}

def get():
    budgets = 0
    for item in get_budgets:
        total = (get_budgets[item].get("budget"))
        budgets = budgets + total
    return budgets

In [101]:
get()

65700

* Q13) In each input list, every number repeats at least once, except for two.
Write a function that returns the two unique numbers.
Examples
return_unique([1, 9, 8, 8, 7, 6, 1, 6]) ➞ [9, 7]
return_unique([5, 5, 2, 4, 4, 4, 9, 9, 9, 1]) ➞ [2, 1]
return_unique([9, 5, 6, 8, 7, 7, 1, 1, 1, 1, 1, 9, 8]) ➞ [5, 6]

In [102]:
def unique_no():
    num = [5, 5, 2, 4, 4, 4, 9, 9, 9, 1]
    result = {}
    for item in range(0,len(num)):
        result[num[item]]=num.count(num[item])
    for k,v in result.items():
        if v==1:
            print(k,end=' ')

In [103]:
unique_no()

2 1

* Q15) Given a dictionary containing the names and ages of a group of people, return the name of
the oldest person.
Examples
oldest({
"Emma": 71,
"Jack": 45,
"Amy": 15,
"Ben": 29
}) ➞ "Emma"
oldest({
"Max": 9,
"Josh": 13,
"Sam": 48,
"Anne": 33
}) ➞ "Sam"

In [9]:
oldest = ({
"Max": 9, "Josh": 13, "Sam": 48, "Anne": 33
})

def oldest_person():
    result = {}
    for k,v in oldest.items():
        result =max(oldest,key=oldest.get)
    return result

In [10]:
oldest_person()

'Sam'